<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Public APIs directory</title>
    <link rel="stylesheet" href="/dist/main.bundle.css">
  </head>
  <body>
    <%= render(partial: "layouts/_notification.ecr") %>
    <%= content %>
    <%= render(partial: "layouts/_footer.ecr") %>
    <script src="/dist/main.bundle.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </body>
</html>
